.App {
  text-align: center;
}

header{
  display:flex;
  justify-content: space-between;
  font-size: 1.2em;
  padding:5px 5px;
  background-color: rgb(179, 220, 239);
}
header .navigation ul li a{
  padding-bottom: 20px;
  text-decoration: none;
  color:white;
  font-weight: 500;
  margin: 0 10px;
}
header .navigation ul{
  float: right;
  list-style-type: none;
}
header .navigation ul li{
  display: inline-block;
  margin-right: 20px;
}
.icon{
  width:40px;
  height:40px;
}
.navigation{
  margin-top: auto 15px;
}

#search{
  height: 40px;
  width: auto;
  border-radius: 20px;
  text-align: center;
}


#check {
  display: none;
}

.btn-toggle {
  display: none;
}
 .i{
  width:130px;
  height:130px;
  

} 
.card{
  display: inline-block;
  margin: 20px;
}
.register{
  color:blue;
}
@media screen and (max-width:890px) {
  .btn-toggle {
    display: block;
  }

    header .navigation ul {
    position: fixed;
    width: 25%;
    height: 60vh;
    background-color:acqua;
    top: 80px;
    left: 0px;
    border-radius: 10px;
    padding: 20px;
    transition: all 0.5s;
  }

  header .navigation ul li {
    display: block;
    margin: 20px;
  }

  #check:checked~.navigation {
    left: 0px;
  }
}
.container {
  max-width: 300px;
  max-height: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #1c0ee6;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  margin-top: 10px;
}

